<!DOCTYPE html>
<html>
<head>
  <title>个人中心</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <!-- 引入 Bootstrap -->
  <!--<link href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">-->
  <style type="text/css">
    .text-left:active {
      background: #e6e6e6;
    }

    .wallet:active {
      background: #e6e6e6;
    }
  </style>
</head>
<body>
<div class="container">
  <div
    style="position:relative; height:100px; background:url(/assets/image/KB7A0911.JPG) no-repeat;background-size:cover;"
    class="row clearfix">
    <div style="width: 100%;height:100px;background: rgba(255,255,255,0.6)">
      <div class="col-md-2 column" style="float: left; display: inline-block;">
        <img style="margin-top: 15px" alt="80x80" width="70" src="/assets/image/1.jpg" class="img-circle"/>
      </div>
      <div class="col-md-6 column" style="display: inline-block">
        <h2 style="font-family:SimHei; font-size: 20px">
          {{phone}}
        </h2>
        <p style="font-family: Microsoft YaHei; font-size: 15px">
          make life easier
        </p>
      </div>
      <div style="position: absolute;right: 0;top:30px;width: auto;;display: inline-block">
        <button style="position: absolute; right:0px; margin-right: 0px; color: orange;" type="button"
                class="btn btn-link btn-lg">Charge&gt;
        </button>
      </div>
    </div>
  </div>

  <div class="row clearfix">
    <div class="col-md-12 column" style="margin-top: 15px;">
      <p class="wallet"
         style="padding-bottom: 10px; padding-top: 10px; border-bottom-style:solid; border-width:1px; border-color:#e6e6e6; font-family: Microsoft YaHei; font-size: 20px">
        <span class="glyphicon glyphicon-briefcase" style="color:#FF8000"></span>&nbsp;My wallet&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&nbsp;invoice<span
        class="glyphicon glyphicon-chevron-right" style="float: right;"></span>
      </p>
    </div>
  </div>
  <div class="row clearfix">
    <div class="col-md-12 column" style="padding-bottom: 10px;">
      <table
        style="padding-bottom: 10px; border-bottom-style:solid; border-width:1px; border-color:#e6e6e6; font-size: 15px">
        <tr>
          <th style="text-align: center; width: 10%">0</th>
          <th style="text-align: center; width: 10%">$ 0</th>
          <th style="text-align: center; width: 10%">0</th>
          <th style="text-align: center; width: 10%">details</th>
        </tr>
        <tr>
          <td style="text-align: center; width: 10%">coupon</td>
          <td style="text-align: center; width: 10%">balance</td>
          <td style="text-align: center; width: 10%">e card</td>
          <td style="text-align: center; width: 10%">credits</td>
        </tr>
      </table>
    </div>
  </div>
  <div class="row clearfix" style="font-family: Microsoft YaHei; font-size: 20px">
    <div class="col-md-12 column">
      <p routerLink="/address" class="text-left"
         style="padding-bottom: 10px; padding-top: 10px; border-bottom-style:solid; border-width:1px; border-color:#e6e6e6;">
        <span class="glyphicon glyphicon-map-marker" style="color:#46A3FF"></span> usual address<span
        class="glyphicon glyphicon-chevron-right" style="float: right;"></span>
      </p>
      <p class="text-left"
         style="padding-bottom: 10px; padding-top: 10px; border-bottom-style:solid; border-width:1px; border-color:#e6e6e6;">
        <span class="glyphicon glyphicon-heart" style="color:#FF0080"></span> invite friends<span
        class="glyphicon glyphicon-chevron-right" style="float: right;"></span>
      </p>
      <p class="text-left"
         style="padding-bottom: 10px; padding-top: 10px; border-bottom-style:solid; border-width:1px; border-color:#e6e6e6;">
        <span class="glyphicon glyphicon-shopping-cart" style="color:#00DB00"></span> credit shop<span
        class="glyphicon glyphicon-chevron-right" style="float: right;"></span>
      </p>
      <p class="text-left"
         style="padding-bottom: 10px; padding-top: 10px; border-bottom-style:solid; border-width:1px; border-color:#e6e6e6;">
        <span class="glyphicon glyphicon-user" style="color:#4A4AFF"></span> recruit delieveryman e<span
        class="glyphicon glyphicon-chevron-right" style="float: right;"></span>
      </p>
      <p class="text-left"
         style="padding-bottom: 10px; padding-top: 10px; border-bottom-style:solid; border-width:1px; border-color:#e6e6e6;">
        <span class="glyphicon glyphicon-cloud-download" style="color:#8600FF"></span> download APP<span
        class="glyphicon glyphicon-chevron-right" style="float: right;"></span>
      </p>
    </div>
  </div>
</div>

<!--&lt;!&ndash; jQuery (Bootstrap 的 JavaScript 插件需要引入 jQuery) &ndash;&gt;-->
<!--<script src="https://cdn.bootcss.com/jquery/2.1.1/jquery.min.js"></script>-->
<!--&lt;!&ndash; 包括所有已编译的插件 &ndash;&gt;-->
<!--<script src="https://cdn.bootcss.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>-->
</body>
</html>
<app-footbar></app-footbar>
