<nav class="navbar navbar-default navbar-fixed-top container-fluid">
  <ul class="nav row">
    <li class="col-xs-1">
      <img routerLink="/shop" src="/assets/image/left_icon.png" style="padding-top: 8px">
    </li>
    <li class="col-xs-10">
      <a class="nav-top">
        <div id="title" style="text-align: center">Products</div>
      </a>
    </li>
  </ul>
</nav>
<div class="container-fluid home-container">
  <div class="row" id="categories">
    <div *ngFor="let product of products" class="col-xs-4" (click)="onProductClick(product)">
      <div class="thumbnail category-item"><img src="http://oyf9q4qzp.bkt.clouddn.com/{{ product.logo}}">
        <div class="caption">
          <h6>{{ product.name }}</h6>
          <h6>{{ product.price }}</h6>
        </div>
      </div>
    </div>
  </div>
</div>
<nav class="navbar navbar-default navbar-fixed-bottom">
  <div class="col-xs-1">
    <img (click)="onCartClick(product)" class="img-cart" src="/assets/image/cart.png">
  </div>
  <div class="col-xs-6">
    <div (click)="onCartClick(product)" id="cart-num">{{ total_num}}</div>
  </div>
  <div class="col-xs-2 total-price">￥{{ total_price }}</div>
  <div (click)="onVerifyClick()" class="col-xs-3 btn-submit">Submit</div>
</nav>
