<div class="row">
  <div class="col-xs-12 col-sm-6 col-sm-offset-3 col-md-4 col-md-offset-4">
    <form class="middle-form">
      <div class="form-group has-feedback">
        <div class="row">
          <div class="col-xs-8">
            <div class="input-group">
                                <span class="input-group-addon">
                                                <span class="glyphicon glyphicon-user" aria-hidden="true"></span>
                                </span>
              <input type="text" class="form-control" placeholder="Please input phone number" style="padding-right:0% " value=""
                     id="phoneNum">
            </div>
          </div>
          <div class="col-xs-4">
            <button (click)="onCaptchaClick()" type="button" class="btn btn-default btn-block" style="padding-left:0%" id="btn_phone">Send Captcha
            </button>
          </div>
        </div>
      </div>
      <div class="form-group has-feedback">
        <div class="input-group">
                        <span class="input-group-addon">
                                        <span class="glyphicon glyphicon-envelope" aria-hidden="true"></span>
                        </span>
          <input id="checkCode" type="verification_code" class="form-control" placeholder="Please input Captcha">
        </div>
      </div>
      <div class="row">
        <div class="col-sm-12">
          <div class="log_bt">
            <p (click)="onLoginClick()" id="btn-register" class="btn-public" style="opacity:0.8">Login</p>
          </div>
        </div>
      </div>
    </form>
  </div>
</div>
