<nav class="navbar navbar-default navbar-fixed-bottom">
  <div class="container">
    <ul class="nav row">
      <li class="col-xs-4 active">
        <a routerLink="/shop" class="nav-btn">
          <span class="glyphicon glyphicon-home" aria-hidden="true"></span>
          Shop
        </a>
      </li>
      <li class="col-xs-4">
        <a routerLink="/order" class="nav-btn">
          <span class="glyphicon glyphicon-align-justify" aria-hidden="true"></span>
          Order
        </a>
      </li>
      <li class="col-xs-4">
        <a routerLink="/personage" class="nav-btn">
          <span class="glyphicon glyphicon-user" aria-hidden="true"></span>
          Home
        </a>
      </li>
    </ul>
  </div>
</nav>
